body{
    background-color: #efefef;
    min-width: 1200px;
}

.main::after{
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.left{
    float: left;
    width: 235px;
    height: 520px;
    margin: 14px;
    margin-left: 0px;
}

.right{
    float: left;
    width: 750px;
    margin:14px 0px;
}

.left .title{
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    border-left:3px solid #115495;
    font-size: 16px;
    font-weight: 900;
    color: #1874cd;
    line-height: 40px;
    padding-left: 22px;
}

.left .catalog li{
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    padding-left: 30px;
    line-height: 40px;
    font-size: 14px;
}

.left .catalog li:hover{
    background-color: #d9ecfd;
}

.right .title{
    height: 40px;
    background-color: #ffffff;
    border-bottom: 3px solid #1874cd;
    line-height: 40px;
    font-size: 16px;
    font-weight: 900;
    padding-left: 40px;
}
.right .news_content{
    padding-top: 20px;
    padding-left: 30px;
    width: 750px;
    height: 680px;
    background: #ffffff;
}

.right .news_content li{
    padding: 10px;
    border-bottom: 1px dotted #e8e8e8;
}

.right .news_content li:hover{
    background-color: #d9ecfd;
}

.right .news_content li a{
    font-size: 14px;
    color: #000000;
}

.right .news_content li a:hover{
    color: #1874cd;
    text-decoration:underline;
}

.right .news_content .date{
    float: right;
    margin-right: 20px;
}

.page{
    height: 40px;
    margin: 25px 0;
    text-align: center;
}

.page a{
    display: inline-block;
    border: 1px solid #e8e8e8;
    text-decoration: none;
    margin: 5px;
    padding: 5px 10px;
}

.page .active{
    background-color: #1874cd;
    color: #ffffff;
}



