/* 主体部分 */
body{
	background-color: #efefef;
	min-width:2000px;
}
/* 滚动通知栏部分 */
.notice_roll{
	height: 30px;
}
.notice_roll .left{
	float: left;
	line-height: 30px;
	color: #000000;
	font-size: 10px;
}

.notice_roll .right{
	float: right;
	line-height: 30px;
	margin-right: 23px;
	color: #000000;
	font-size: 10px;
}
/* 校园风采照片部分 */
.picture{
	position: relative;
	width: 1000px;
	height: 265px;
	background-color: #104e8b;
	background-image: url(../images/school1.png);
}

.picture .prev{
	position: absolute;
	left: -120px;
	top: 80px;
}

.picture .next{
	position: absolute;
	right: -120px;
	top: 80px;
}


.main{
	position: relative;
	margin:16px 0;
}

.main::after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* 公告通知部分 */
.notice_items{
	float: left;
	position: relative;
	width: 380px;
	height: 300px;
	margin-right: 5px;
	background-color: #ffffff;
}


.notice_items .title_left{
	height: 33px;
	border: 1px solid #efefef60;
	border-left: 4px solid #1874cd;
}
.notice_items .title_left ul li{
	display: inline-block;
	margin-left: 20px;
}

.notice_items .title_left ul li a{
	line-height: 33px;
	font-size: 15px;
	font-weight:900;
	color: #b29999;
}

.notice_items .title_right{
	position: absolute;
	top: 7px;
	right: 5px;
}

.notice_items .title_right a{
	color: #b29999;
}

.notice_items .title_left li a:hover,.title_right a:hover{
	color: #1874cd;
}
.notice_items .items_content li{
	padding: 4px;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main .items_content li:hover{
	background-color: #d9ecfd;
}

/* .main .items_content2{
	display:none;
	position: absolute;
	top: 33px;
	background-color: #efefef;
}

.main .items_content2 li{
	padding: 4px;
}
.main .title_left li a:hover .items_content2{
	display: block;
} */

/* 学生天地部分 */
.school_news{
	position: relative;
	float: left;
	width: 380px;
	height: 300px;
	background-color: #ffffff;
	margin-right: 5px;

}

.school_news .title_left{
	height: 33px;
	border: 1px solid #efefef60;
	border-left: 4px solid #1874cd;
}
.school_news .title_left ul li{
	display: inline-block;
	margin-left: 20px;
}

.school_news .title_left ul li a{
	line-height: 33px;
	font-size: 15px;
	font-weight:900;
	color: #b29999;
}

.school_news .title_right{
	position: absolute;
	top: 7px;
	right: 5px;
}

.school_news .title_right a{
	color: #b29999;
}

.school_news .title_left li a:hover,.title_right a:hover{
	color: #1874cd;
}

.school_news .items_content .date{
	float: right;
	margin-right: 5px;
}
.school_news .items_content li{
	padding: 4px;
	padding-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* 用户信息导航部分 */
.main .user_nav{
	position: relative;
	float: left;
	width: 230px;
	height: 300px;
	background-color: #ffffff;

}

.user_nav .title_left{
	height: 33px;
	border: 1px solid #efefef;
	border-left: 4px solid #1874cd;
}
.user_nav .title_left ul li{
	display: inline-block;
	margin-left: 20px;
}

.user_nav .title_left ul li a{
	line-height: 33px;
	font-size: 15px;
	font-weight:900;
	color: #1874cd
}

.user_nav .title_right{
	position: absolute;
	top: 7px;
	right: 5px;
}

.user_nav .nav_box{
	width: 150px;
	height: 20px;
	line-height: 16px;
	text-align: center;
	border: 2px solid #1874cd;
	border-radius: 4px;
	margin:5px auto;
	transition: all .4s;
}

.user_nav .nav_box:hover{
	background-color: #1874cd;
}

.user_nav .nav_box a{
	color: #000000;
}

.user_nav .nav_box:hover a{
	color: #ffffff;
}



.user_nav .nav_box:hover .nav_box>a{
	color: #ffffff;
}

.user_nav .items{
	margin: 6px 50px;
}

.user_nav .items a{
	padding:5px;
	line-height: 12px;
	text-align: center;
	color: #000000;
}

.user_nav .items a:hover{
	color: #104e8b;
	font-weight: 900;
}
